.DS_Store
.idea/
.vscode/
*.swp
*.log
.atl/
.suscripciones_fullstack1-main/
node_modules/
target/
ci.yml
README.md
Guía de Laboratorio Pipeline CICD y Arquitectura Multinivel en AWS 1. Objetivo Implementar un ciclo completo de DevOps que integre el control de .pdf
.DS_Store
